@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    font-family: 'Geologica', serif;
}

.sfondo-head{
    display: flex;
    background-image: url(/img/SOFT_RED_BANNER.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.text-head{
    padding: 10%;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 8vw;
    z-index: 1;
    color: #e4aaa3;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
    1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.search-bar{
    background-color: #fef8d1;
    border-radius: 30px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px #ddd7ac;
}

#tasto-ricerca{
    background-color: #fef8d1;
    border-radius: 30px;
}

#bottone-ricerca{
    border-radius: 30px;
}

#bottone-ricerca:hover{
    border-radius: 30px;
    background-color: #e4aaa3;
    color: #fef8d1;
}

.ricerca{
    margin-bottom: -10px;
}

.shop-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.risultati{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    padding-left: 5em !important;
}

.filtri{
    border: none;
    border-radius: 10px;
    width: auto !important;
    height: 32em;
    display: flex;
    flex-flow: column wrap;
    box-shadow: 3px 3px #e4a9a367;
}

.card{
    border: none !important;
    width: 14rem;
    height: 1em;
    margin: 1rem;
    box-shadow: 3px 3px #e4a9a367;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.card img{
    width: 7em;
}

.card p{
    font-size: 1em;
}

.bi-star-fill{
    margin-top: -2.5%;
}

.card .img{
    width: 15em;
    height: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .4s;
}

.card .img:hover{
    transform: scale(1.2);
}

.price{
    display: flex;
    justify-content: space-between;
}