@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.header {
    background-color: #ffffff;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.navbar-nav .nav-link {
    font-size: 18px;
    color: #000;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #b14d40;
}

.navbar-brand img {
    max-width: 100px;
}

.auth-links a {
    font-size: 20px;
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
}

.auth-links a:hover {
    color: #b14d40;
}

.navbar-toggler {
    border: none;
    outline: none;
}

* {
    font-family: 'Geologica', serif;
}

.dettaglio {
    display: flex;
    align-items: space-between;
    justify-content: center;
}

.dettaglio img {
    width: 15em;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-link {
    text-decoration: none;
    color: inherit;
    font-size: 20px !important;
    transition: color 0.3s;
}

footer .social-icons .social-link:hover {
    color: #007bff !important;
}

.privacy-link {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    margin: 0 5px;
}

.privacy-link:hover {
    text-decoration: underline;
}

i {
    color: #000 !important;
    font-size: 20px;
}

.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.privacy-link {
    display: inline;

}

.btn-primary {
    background: #e4aaa3 !important;
    border: none !important;
    color: black !important;
}

.occasioni img{
    width: 25rem !important; 
}

.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
}

.MultiCarousel .MultiCarousel-inner {
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-wrap: nowrap;
}

.MultiCarousel .MultiCarousel-inner .item {
    flex: 0 0 auto;
}

.MultiCarousel .MultiCarousel-inner .item > div {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background: #f1f1f1;
    color: #666;
}

.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.MultiCarousel .leftLst {
    left: 0;
}

.MultiCarousel .rightLst {
    right: 0;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
    pointer-events: none;
    background: #ccc;
}