
.header {
  background-color: #ffffff;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.navbar-nav .nav-link {
  font-size: 18px;
  color: #000;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #b14d40;
}

.navbar-brand img {
  max-width: 100px;
}

.auth-links a {
  font-size: 20px;
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
}

.auth-links a:hover {
  color: #b14d40;
}

.navbar-toggler {
  border: none;
  outline: none;
}
  
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other 
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
*/

*
body{
background-color: bisque !important;
}
.bloccoCentrale
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: bisque;
    
}
.Triangolo
{
  transform: scale(1.5);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 600px;
    gap: 10px;
}
.Triangolo .card
{
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 0 -75px;
   clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.Triangolo .card:nth-child(2)
{
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.Triangolo .card img
{
    transition: 0.5s;
    width: 100%;
}
.Triangolo .card:hover img
{
    transform: scale(1.5);
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  padding: 10px 20px;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-link {
  text-decoration: none;
  color: inherit;
  font-size: 20px !important;
  transition: color 0.3s;
}

footer .social-icons .social-link:hover {
  color: #007bff !important;
}

.privacy-link {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  margin: 0 5px;
}

.privacy-link:hover {
  text-decoration: underline;
}
i{
  color: #000 !important;
  font-size: 20px;
}
.text-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.privacy-link{
  display: inline;

}
